
.add_project_comment {
    margin-top:20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    height:40px;
    display: flex;
}

#add_project_comment form {
    display: flex;
    height:100%;
    width:100%;
}


.add_project_comment input {
    font-family: 'Roboto', Helvetica, sans-serif;
    border: 1px solid #666;
    color: #666;
    padding: 6px;
    border-radius: 2px;
    width: 93%;
    font-size: 14px;
    height: 100%;
    box-sizing: border-box;
    padding:5px;
}

.add_project_comment button {
    width:60px;
    height:100%;
}


.project_comments {
    margin: 0px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#comment_view {
    border-collapse: collapse;
    width: 70%;
    margin: 0px auto;
    border: 1px #ddd solid
}

#comment_view tr td {
    padding: 5px;
}

.comment_post {
    background-color: white;
    display: flex;
    width: 100%;
    height: 60px;
    border-top: 1px #ddd solid;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    position: relative;
}

.comment_post:hover {
    background: #ecf8ff;
}


.commet_post:first-child {
    background-color: yellow;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}



.comment_post:last-child {
    border-bottom: 1px #ddd solid;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px ;
}


.comment_body {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 14px;
    width:100%;
    padding: 5px;
}

.comment_delete {
    position: absolute;
    font-size: 16px;
    height:20px;
    width: 20px;
    color: #666;
    text-align: center;
    top:5xp;
    right:5px;
}

.comment_delete a {
    font-weight: bold;
    transition: 0.4s;
    opacity: 0.5px;
}

.comment_delete a:hover {
    color:;
    opacity: 1;
}

.comment_user_picture {
    height: 60px;
    line-height: 60px;
    width: 60px;
    float: left;
    text-align: center;
}

.comment_user_picture img {
    margin: 10px auto;
}

.commented_by {
    display: flex;
    line-height: 60px;
    height: 100%;
    width: 15%;
}

.comment_date {
    height: 100%;
    color: #999;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}
