* {
    box-sizing: border-box;
}

body {
    /*background: #ddd;*/
    background: aliceblue;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
}

.login_wrap {
    height: calc(100vh - 230px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    margin-top: 0px;
    width: 30%;
    height: 200px;
    background: #fff;
    border: 1px solid #d1d1d1;
    padding: 10px;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 24%)
}

.login form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.login input {
    font-size: 15px;
    padding: 0 10px;
    width: 80%;
    height: 40px;
    margin: 0 0 10px;
}

.login button {
    width: 80%;
}

::-webkit-input-placeholder {
    font-weight: normal;
}

#main {
    background: aliceblue;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 0px solid #D5D5D5;
    /*box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);*/
}

input {
    width: 400px;
    outline: 0;
    border: 1px solid #D5D5D5;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    padding: 6px;
    border-radius: 2px;
    height: 45px;
}

input[type="file"] {
    height: 20px;
    background: white;
}

textarea {
    padding: 4px;
    height: 100px;
    width: 850px;
    border: 1px #ddd solid;
    border-radius: 2px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    outline: 0;
    font-size: 14px;
    height: 400px;
    font-weight: normal
}

select {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 1px solid #D5D5D5;
    height:40px;
}

.link {
    color: #00acee !important;
    font-weight: normal;
}

#header {
    width: 100%;
    border-bottom: 1px #ccc solid;
    height: 50px;
    line-height: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
    background: #174a69;
    color: #fff;
    /*text-shadow: 1px 1px 0px #040E14; */
}

.user_picture {
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
}

.header_title {
    float: left;
}

.header_nav_bar {
    float: right;
    list-style: none;
    width: 370px;
    height: 50px;
    margin: 0px;
}

.header_nav_bar li {
    min-width: 50px;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.header_nav_bar li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.header_nav_bar li a:hover {
    background: #3f8abf;
    padding: 5px 10px;
    border-radius: 3px
}

.small-blue-badge {
    background: #3f8abf;
    padding: 5px 10px;
    border-radius: 3px
}

.header_mailbox {
    float: left;
}

.header_mailbox a {
    color: #fff;
}

.logged_user {
    width: 50%;
    height: 50px;
    line-height: 50px;
    background: #174a69;
    float: right;
    text-align: center;
    font-size: 16px;
    margin-right: 0px
}

.user {
    float: left;
    margin-left: 5px;
    height: 70px;
    display: block
}

.circle {
    float: left;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #fff;
    margin-left: 15px;
    margin-top: 7px;
    background-position: center;
}

#information {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #555;
    border-bottom: 1px #ccc solid;
}

.clock {
    color: #fff;
    width: 100px;
    height: 50px;
    color: #fff;
}

.name_days {
    color: #fff;
    width: 200px;
    float: left;
    margin-left: 5px;
    height: 30px;
    line-height: 30px
}

.mssg_box {
    float: left;
    display: block;
    height: 30px;
    width: 30px;
    background: red;
    text-align: center;
    line-height: 30px;
    border-radius: 10px
}

.red_badge {
    color: #fff;
    background: red;
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-right: 1px #fff solid;
    border-left: 1px #fff solid;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.red_badge a {
    text-decoration: none;
    color: #fff;
}

.no_message {
    display: block;
    height: 50px;
    width: 50px;
    border-right: 1px #fff solid;
    border-left: 1px #fff solid;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.inbox_wrap {
    background: #ddd;
    width: 100%;
    border: 0px #666 solid;
    padding: 0px;
    float: left;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 300px
}

.inbox_menu {
    margin-left: 5px;
    border: 1px #666 solid;
    background: #fff
}

.inbox_menu ul {
    padding: 0;
    margin-left: 5px;
    list-style: none;
    width: 92%;
}

.inbox_menu ul li {
    height: 30px;
    line-height: 30px;
    width: 100%;
    font-size: 14px
}

.inbox_menu li a {
    display: block;
}

.inbox_menu ul li:hover {
    background: #ddd
}

.inbox {
    float: left;
    border: 0px #666 solid;
    min-height: 600px;
    width: 83%;
    margin-top: 10px;
    margin-left: 5px
}

.inbox_menu {
    float: left;
    width: 15%;
    margin-top: 10px
}

.inbox_filter {
    width: 100%;
    text-align: right;
    border: 0px #666 solid;
    height: 40px;
    line-height: 40px;
}


/* width and height can be anything, as long as they're equal */

#new_mail {
    border-collapse: collapse;
    float: right;
    margin-right: 10px
}

#new_mail input {
    width: 590px;
    height: 25px;
    border: 1px solid #666;
}

#new_mail textarea {
    width: 600px;
    border: 1px solid #666;
}

.receiver select {
    height: 35px;
    border: 1px solid #666;
    width: 600px;
}

.message {
    height: 50px;
    line-height: 50px;
    background: #fff;
    width: 100%;
    margin: 1px 0;
}

.message_text {
    height: 50px;
    line-height: 50px;
    width: 450px;
    float: left;
}

.message_receiver {
    width: 100px;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 5px
}

.message_subject {
    width: 180px;
    float: left;
    height: 50px;
    line-height: 50px
}

.sent_date {
    width: 200px;
    float: left;
    height: 50px;
    line-height: 50px
}

.fl {
    font-size: 15px;
    font-weight: bold;
    float: left;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #2980b9;
    border: 1px solid #2980b9;
    text-align: center;
    color: #fff;
    margin-top: 6px;
    margin-left: 5px
}

.message_trash {
    height: 50px;
    line-height: 50px;
    width: 40px;
    float: right;
    text-align: center;
}

button,
.button {
    padding: 10px;
    border: 1px solid #495267;
    font-size: 14px;
    font-family: 'Roboto', Helvetica, sans-serif;
    ;
    background-color: #606c88;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    margin-left: 3px
}

.small_button {
    padding: 3px;
    border: 1px solid #999;
}

.right {
    float: right;
}

.menu {
    background-color: #34495e;
    width: 100%;
    height: 50px;
}

.menu ul {
    margin-left: 30px;
    padding: 0;
    list-style: none;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-content: center;
    box-sizing: border-box;
}

.menu li {
    float: left;
    display: flex;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    display: block;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: bold;
    padding-left: 14px;
    padding-right: 14px;
}

.menu li a:hover {
    background: #3f8abf;
}

#middle {
    border-bottom: 0px #ccc solid;
    margin-top: 0px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

#middle a {
    text-decoration: none;
    color: #666;
}

#footer {
    margin-bottom: 10px;
    width: 100%;
    border-top: 1px #ccc solid;
    height: 100px;
    background: #174a69;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 16px;
}

#footer-left {
    list-style-type: none;
}

#add_task {
    height: 60px;
    text-align: left;
    margin-top: 10px;
    float: left;
    display: flex;
    align-items: center;
    width: 100%;
}

#add_task form {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

#add_task form input {
    width: 100%;
    height:40px;
}

#add_task form input::placeholder {
    color: #999
}

#add_project {
    height: 35px;
    line-height: 35px;
    margin-top: 15px;
}

#add_project form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#main_nav {
    width: 100%;
    border-bottom: 1px #ccc solid;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

#add_project_comment {
    margin-top:20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    height:40px;
    display: flex;
}

#add_project_comment form {
    height:100%;
    width:100%;
}

#add_task input,
#add_project_comment input {
    font-family: 'Roboto', Helvetica, sans-serif;
    border: 1px solid #666;
    color: #666;
    padding: 6px;
    border-radius: 2px;
    width: 93%;
    font-size: 14px;
    height: 100%;
    box-sizing: border-box;
    padding:5px;
}

#add_project_comment button {
    width:60px;
    height:100%;
}

#project_calendar {
    margin-top: 15px;
}

#cal_nav_bar {
    height: 40px;
    line-height: 40px;
    width: 980px;
    padding: 5px;
    margin-top: 20px;
    border: 1px #666 solid;
    text-align: right;
}

#cal_nav_bar select {
    height: 30px;
    width: 200px;
    color: #666;
    font-size: 14px;
    text-align: right;
}

#month_calendar {
    margin-top: 10px;
    border-left: 1px solid #999;
    width: 100%;
}

.calendar-row {}

.calendar-day {
    height: 80px;
    font-size: 11px;
    position: relative;
    background: #fff
}

* html div.calendar-day {
    height: 80px;
}

.calendar-event-day {
    min-height: 80px;
    font-size: 11px;
    position: relative;
    background: #d9edf7
}

.calendar-day:hover {
    background: #eceff5;
}

.calendar-day-np {
    background: #eee;
    min-height: 80px;
}

* html div.calendar-day-np {
    height: 80px;
}

.calendar-day-head {
    background: #ccc;
    font-weight: bold;
    text-align: center;
    width: 120px;
    padding: 5px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.day-number {
    background: #999;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    float: right;
    /*margin:-5px -5px 0 0*/
    margin-top: 0px;
    margin-right: 0px;
    width: 20px;
    text-align: center;
}

.day-number a {
    color: #fff !important;
    font-size: 14px
}

.add-event,
.add-meeting {
    float: left;
    margin-top: 0px;
    margin-left: 0px
}

.calendar-day,
.calendar-day-np,
.calendar-event-day {
    width: 120px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    min-height: 80px
}

#add_new_customer,
#view_customer,
#update_the_customer {
    border-collapse: collapse;
}

#add_new_customer td {
    padding: 4px
}

#add_new_customer button {
    padding: 10px;
    border: 1px solid #495267;
    font-size: 14px;
    font-family: 'Roboto', Helvetica, sans-serif;
    ;
    background-color: #606c88;
    color: #fff;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    margin-left: 3px
}

#add_new_customer button:hover {
    border: 1px solid #363d4c;
    background-color: #4b546a;
}


/*#project_details button, #add_project button,*/

#view_customer input {
    width: 850px;
    outline: 0;
    border: 1px solid #D5D5D5;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    padding: 6px;
    border-radius: 2px;
}

#new_customer_wrap,
#update_customer_wrap,
#new_customer_wrap #update_customer_wrap,
#project_comments_wrap {
    margin: 0px auto;
    width: 100%
}

#project_comments_wrap {
    display: flex;
    flex-direction: column;
}

#comment_view {
    border-collapse: collapse;
    width: 70%;
    margin: 0px auto;
    border: 1px #ddd solid
}


/*tabulka na prezeranie komentarov*/

#comment_view tr td {
    padding: 5px;
}

.comment_post {
    background-color: white;
    display: flex;
    width: 100%;
    height: 60px;
    border-top: 1px #ddd solid;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    position: relative;
}

.comment_post:hover {
    background: #ecf8ff;
}

.comment_post:last-child {
    border-bottom: 1px #ddd solid;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
}

.comment_body {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 14px;
    width: 670px;
    padding: 5px;
}

.comment_body a {
    display: block;
}

.comment_delete {
    position: absolute;
    font-size: 16px;
    height:20px;
    width: 20px;
    color: #666;
    text-align: center;
    top:5xp;
    right:5px;
}

.comment_delete a {
    font-weight: bold;
    transition: 0.4s;
    opacity: 0.5px;
}

.comment_delete a:hover {
    color:;
    opacity: 1;
}



.comment_user_picture {
    height: 60px;
    line-height: 60px;
    width: 60px;
    float: left;
    text-align: center;
}

.comment_user_picture img {
    margin: 10px auto;
}

.commented_by {
    float: left;
    line-height: 60px;
    height: 60px;
    width: 120px;
    text-indent: 10px
}

.comment_date {
    float: left;
    width: 100px;
    height: 60px;
    line-height: 60px;
    color: #999;
}

.task_commented_by {
    float: left;
    height: 50px;
    line-height: 50px;
    width: 100px;
}

.task_comment_date {
    float: left;
    height: 50px;
    line-height: 50px;
    width: 120px;
    color: #999;
    ;
    text-indent: 5px;
    text-align: center;
}

#task_commnets_wrap {
    width: 100%;
    min-height: 50px
}

#task_commnets_wrap ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#task_commnets_wrap li {
    height: 50px;
    line-height: 50px;
    border-bottom:1px #d1d1d1 solid; ;
    border-left: 1px #d1d1d1 solid;
    border-right: 1px #d1d1d1 solid;
    background-color: white;
}

#task_commnets_wrap li:first-child {
    border-top: 1px #d1d1d1 solid;
    border-left: 1px #d1d1d1 solid;
    border-right: 1px #d1d1d1 solid;
}

#task_comments_wrap li:last-child {
    border-bottom: 1px #d1d1d1 solid;
    border-left: 1px #d1d1d1 solid;
    border-right: 1px #d1d1d1 solid;
}

#task_commnets_wrap li:hover {
    background: #ddd;
}

#task_commnets_wrap input {
    width: 930px;
}

.task_comment_action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


#project_details {
    border: 0px #ccc solid;
    color: #666;
    border-collapse: collapse;
    border-spacing: 0;
}

#project_details td,
th {
    padding: 4px !important;
    color: #666
}

#project_details textarea {
    padding: 4px;
    padding-left: 5px;
    font-weight: bold;
    border: 1px #ccc solid;
    border-radius: 2px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
}

#project_details input {
    padding-left: 5px;
    width: 100%;
    border: 1px #ccc solid;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #666;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    height: 40px;
    box-sizing: border-box;
}

#project_details select {
    font-weight: bold;
    color: #666;
    width: 410px;
    height: 40px;
}

.project_user {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%
}

.project_user tr td {
    padding: 5px;
}

.project_user select {
    height: 30px;
    padding: 6px;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

.project_user input {
    height: 25px;
    width: 400px;
    font-weight: normal;
    font-size: 13px
}

.project_user textarea {
    width: 900px;
    height: 300px;
}

#create_user_wrap {
    float: left;
    margin-top: 10px;
    border: 0px #666 solid;
    width: 975px;
    height: 700px;
    padding: 5px;
    margin-left: 0px;
}

#project_stats {
    width: 200px;
    color: #666;
    border-collapse: collapse;
    border-spacing: 0;
}

#project_stats td {
    padding: 4px;
}

.value {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 18px;
    color: #666;
    text-align: right
}

#project_short_details_wrap {
    float: left;
    margin-top: 2px;
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .3);
    border:
}

#project_task_details_comments,
#project_task_details_attachements,
#project_task_details_basic_info,
#project_task_details_quick_notes,
.assigned_ppl_list,
#project_task_subtasks,
#project_task_assigned_person,
#project_task_details_dashboard,
#project_task_title,
#new_customer_wrap,
#customer_contacts {
    width: 100%;
    border: 0px #ddd solid;
    margin-top: 35px;
    min-height: 50px
}

#project_task_details_upload_form {
    margin-top: 15px;
}

#project_task_title {
    font-weight: bold;
    text-transform: uppercase;
}

#project_task_details_attachements h3,
#project_task_details_quick_notes h3,
#project_task_assigned_person h3 {
    margin-left: 10px
}

#project_task_assigned_person ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#project_task_assigned_person input {
    margin-left: 0px;
    width: 920px;
    padding: 6px;
    height: 22px;
    margin-top: 10px
}

#project_task_assigned_person table {
    margin-left: 0px
}


.project_title {
    width: 100%;
    /* border: 1px #ddd solid; */
    display: flex;
    justify-content: flex-start;
    min-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    border: 1px #d1d1d1 solid;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    border-radius: 5px;
}

.pro_title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

.pro_descr {
    font-style: italic;
    font-family: 'Roboto';
    font-size: 14px;
}

#project_task_title {
    color: #666;
    font-size: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    border: 1px #d1d1d1 solid;
    justify-content: flex-start;
    align-items: center;
    background: white;
    border-radius: 5px;
}

.status_badge {
        border: 2px #3f8abf solid;
    border-radius: 5px;
    /* text-align: center; */
    background: #fff;
    height: 50%;
    display: flex;
    width: 80px;
    margin: 12px auto;
    align-items: center;
    justify-content: center;
}

.status {
    color: #3f8abf;
    font-size: 14px;
}

#project_task_details_dashboard {
    padding-bottom: 10px
}


#project_details_dashboard {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.dashboard {
   display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 10px;
}


/*  TASK DASBOARD */

#project_task_details_comments h3,
#project_task_details_dashboard h3,
#project_details_dashboard h3,
#project_task_subtasks h3,
#project_details_dashboard_charts h3 {
    float: left;
    margin-left: 10px;
    width: 100%
}

#project_task_details_dashboard input {
    width: 100px;
    height: 15px;
    padding: 5px;
    text-align: center;
}


/* PROEJCT TASK BOARD **** */

#project_task_board {
    width: 100%;
    min-height: 700px;
    border: 0px #999 solid;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 10px
}

#task_board_columns_wrap {
    margin: 10px auto;
}

.task_board_column {
    background: #e3e3e3;
    width: 320px;
    min-height: 670px;
    border: 1px #ccc solid;
    border-radius: 2px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}

.task_board_header {
    background: #fff;
    float: left;
    margin-top: 0px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 320px;
    border-bottom: 2px #ccc solid;
    font-weight: bold;
}

.task_board_header h3 {}

.task_board_tasklist {
    float: left;
    min-height: 630px;
    width: 310px;
}

.task_board_tasklist ul {
    list-style: none;
    padding: 0px;
    margin-left: 4px;
    width: 310px;
}

.task_board_tasklist li {
    margin-top: 5px
}

.task_board_task {
    background: #fff;
    min-height: 60px;
    line-height: 14px;
    width: 300px;
    border-radius: 3px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #d8d8d8;
}

.task_board_task a {
    color: #00acee !important;
}


/*  PROJECT_DETAILS_DASHBOARD_ */

.info_box {
    height: 100px;
    width: 200px;
    float: left;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 3px 3px 0 0;
    /*box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .3);*/
}

.info_box_title {
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 14px
}

.info_box_value {
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.info_box_value input {
    width: 120px;
}

.custom-select {
    position: relative;
    /*font-family: 'Roboto', sans-serif;*/
}


/*.select-selected {
    background-color: DodgerBlue;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */


/*.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}*/


/* style the items (options), including the selected item: */


/*.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
*/


/* Style items (options): */


/*.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}*/


/* Hide the items when the select box is closed: */


/*.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

#project_details_dashboard {
    width: 100%;
    border: 1px #ddd solid;
    margin-top: 10px;
    height: 400px
}*/


/*  PROJECT_DETAILS_DASHBOARD_ */

.task_name {
    display: flex;
    width: 50%;
    height:100%;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    cursor: pointer;
}

.task_name a {
    font-size: 14px;
}

.task_action {
    width: 15%;
    text-align: center;
    height:100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding:5px;
}

.task_action button {
    flex: 1 1 0px;
}

.task_date {
    width: 100px;
    text-align: center;
}

.task_name {
    width: 50%;
}

.task_description {
    height: 250px;
    width: 100%;
    border: 0px #d5d5d5 solid;
    float: left;
    margin-top: 15px
}

.task_description textarea {
    height: 181px;
    background: #FFFFCC;
    width: 970px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px #666 solid;
}

.assigned_ppl_list {
    border: 1px #ddd solid;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background: white;
}

.assigned_ppl_list select {
    height: 35px;
    width: 200px;
}

.assigned_ppl_list form {
    display: flex;
   justify-content: flex-end;
}

.assigned_ppl_list header {
    height: 60px;
    line-height: 50px;
    border: 0px #999 solid
}

.assigned_person {
    display: flex;
    width: 100%;
    border-top: 1px #ddd solid;
    cursor: pointer;
    height: 100%;
    background: aliceblue;
}

.assigned_person:hover {
    background: #ddd;
}


.assigned_date {
    width: 300px;
}

.create_new_user {
    float: right;
    margin-right: 10px
}

.project_assigne_pp_post form {
    height: 400px;
    width: 100%;
}

.person_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.assigned_ppl_list_image img {
    margin: 10px auto;
}

.assigned_ppl_list_body {
    width: 100%;
    border: 0px #999 solid
}

.assigned_ppl_list input {
    width: 500px;
    outline: 0;
    border: 1px solid #D5D5D5;
    color: #666;
    font-size: 13px;
    padding: 6px;
    border-radius: 2px;
    height: 20px
}

.assigned_ppl_list button {
    margin-right: 10px;
    outline: 0;
}

.assigned_ppl_list h3 {
    margin-left: 10px;
    height: 20px;
}

.assigned_ppl_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.assigned_ppl_list ul li {
    height: 60px;
    border: 0px #eee solid;
    margin: 0px;
    padding: 0px;
}

.assigned_duration {
    display: flex;
    width: 200px;
    font-weight: normal;
}

.person_name {
    margin-left: 5px;
    width: 300px;
    font-size: 14px
}

.remove_person {
    float: right;
    margin-right: 5px;
    height: 50px;
    width: 30px;
    text-align: center;
}

.assigned_person_details {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.assigned_person_details form {
    width: 100%;
}

.assigned_ppl_action {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 65px;
    border-top: 1px #ddd solid;
}

.assigned_ppl_action select {
    width: 300px;
    margin-right: 5px;
    outline: 0;
}

.assigned_ppl_action button {
    margin-right: 5px;
    ;
}


/* ********* PROJECT_DETAILS_SUBTASK INPUT ************************* */

#project_task_subtasks {
    display: flex;
    flex-direction: column;
}

#project_task_subtasks input {
    width: 100%;
    outline: 0;
    border: 1px solid #D5D5D5;
    color: #666;
    font-size: 13px;
    height: 22px;
    padding: 6px;
    border-radius: 2px;
}

#project_task_subtasks button {
    margin-left: 10px;
    outline: 0;
    width: 30px;
    height: 30px
}


#project_task_subtasks ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#project_task_subtasks li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px #666 solid;
    border-left: 1px #666 solid;
    border-right: 1px #666 solid
}

#project_task_subtasks li:first-child {
    border-top: 1px #666 solid;
    border-left: 1px #666 solid;
    border-right: 1px #666 solid;
}

#project_task_subtasks li:last-child {
    border-left: 1px #666 solid;
    border-right: 1px #666 solid;
    border-bottom: 1px #666 solid
}

#project_task_subtasks li:hover {
    background: #ddd;
}

#project_task_subtasks form {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

/* ********* PROJECT_DETAILS_SUBTASK INPUT ************************* */


/* ********* PROJECT_DETAILS_LIST_OF_FILES INPUT ************************* */

#project_task_details_filelist {
    width: 100%;
    height: 60px;
    border: 1px #ddd solid;
}


/* ********* PROJECT_DETAILS_LIST_OF_FILES INPUT ************************* */


/* ********* PROJECT_TASK_DETAILS_COMMENTS ************************* */

#project_task_details_comments {
    display: flex;
    flex-direction: column;
    border: 1px #666 solid;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}


#project_task_details_comments input {
    width: 920px;
    outline: 0;
    border: 1px solid #D5D5D5;
    color: #666;
    height: 22px;
    font-size: 13px;
    padding: 6px;
    border-radius: 2px;
}

#project_task_details_comments button {
    margin-left: 10px;
    outline: 0;
    width: 30px;
    height: 30px
}

#project_task_details_comments textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    box-sizing: border-box;
}


/* ********* PROJECT_TASK_DETAILS_COMMENTS ************************* */


/* ********* PROJECT_TASK_QUICK_NOTES ************************* */

#project_task_details_quick_notes input {
    width: 850px;
    outline: 0;
    border: 1px solid #D5D5D5;
    color: #666;
    font-size: 13px;
    padding: 6px;
    border-radius: 2px;
}

#project_task_details_quick_notes button {
    margin-left: 10px;
    outline: 0;
    width: 30px;
    height: 30px
}


/* ********* PROJECT_TASK_QUICK_NOTES ************************* */


/* ********* TASK POST ************************* */

.project_task_post_wrap {
    height: 50px;
    line-height: 50px;
    width: 100%;
    float: left;
    margin-left: 0px
}

.project_task_user_image {
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
}

.project_task_user_image img {
    margin: 10px auto;
}

.project_task_post {
    height: 50px;
    line-height: 50px;
    float: left;
    margin-left: 5px;
    width: 70%;
}

.project_task_date {
    float: left;
    width: 300px;
    height: 50px;
    line-height: 50px;
    color: #999;
}


/* ********* TASK COMMENTS ************************* */


/* ********* SUBTASKS ************************* */

.project_subtask_post {
    min-height: 50px;
    line-height: 50px;
    border: 0px #ccc solid;
    border: 0px #666 solid;
}

.project_subtask_post:hover {
    background: #eaebec;
}

.subtask_title {
    float: left;
    width: 500px;
    margin-left: 5px;
    font-weight: bold;
    height: 50px;
    line-height: 50px
}

.subtask_title a {
    display: block;
}

.user_name {
    margin-left: 5px;
    font-weight: bold;
}

.subtask_date {
    float: left;
    font-weight: normal;
    color: #999;
    width: 120px;
    text-align: center;
}

.subtask_priority {
    display: table;
    float: left;
    width: 110px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.subtask_duration {
    float: left;
    font-weight: bold;
    width: 50px;
    text-align: center;
}

.subtask_action {
    float: right;
    margin-right: 5px
}

.subtask_status {
    float: left;
    width: 120px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

#task_subtasks_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.filter {
    background: #ecf8ff;
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 55px;
    align-items: center;
    border: 1px #666 solid;
    justify-content:center;
}

.filter span {
        width: 100%;
    align-items: center;
    height: 40%;
    display: flex;
    font-size: 15px;
}

.filter select {
    width: 100px;
    height: 40px;
    font-size: 14px;
    text-align: center;
}

.filter_action {
    width: 30%;
    display: flex;
    height: 45px
}

.filter_action form {
   width:100%;

}

.filter_action span {
    width:100px;
}

.filter_action select {
    margin-left: 10px;
}


/* ********* SUBTASKS ************************* */

#project_statistics_wrap {
    margin-top: 20px;
    border: 1px #ddd solid;
    width: 100%;
    height: 400px
}


/* ********* PROJECT STREAM ************************* */

#project_stream_wrap {
    width: 100%;
    padding: 0px;
    border: 0px #ccc solid;
    margin-top: 10px
}

#project_stream_wrap ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#project_stream_wrap h3 {
    margin-left: 10px
}

#project_stream {
    width: 100%
}

.stream_post {
    width: 100%;
    border: 0px #ccc solid;
    margin-top: 5px;
    border: 1px solid #e9e9e9;
    height: 60px;
    line-height: 60px;
    background: #fff;
}

.stream_post_text {
    float: left;
    margin-left: 5px;
    width: 600px;
    height: 60px;
    line-height: 60px;
}

.stream_post_text a {
    color: #00acee !important;
    font-weight: bold;
}

.stream_post_date {
    float: right;
    margin-right: 5px;
}


/* ********* PROJECT STREAM ************************* */


/* ********* PROJECT MEETING ************************* */

#add_meeting {
    height: 45px;
    width: 100%;
    margin-top: 10px;
    padding-top: 5px;
    text-align: right
}


/*#project_meetings_wrap {margin-top:10px;width:100%;min-height: 620px;border:1px #ddd solid; padding:5px}*/

#project_meetings_list {
    margin-top: 20px;
    width: 100%;
    border: 0px #ddd solid;
    min-height: 650px
}

#project_meetings_list table {
    width: 100%;
    border-collapse: collapse;
}

#project_meetings_list tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#project_meetings_list tr {
    border: 1px #eaebec solid;
    height: 40px;
}

#project_meetings_list tr:hover {
    background: #eaebec
}

#project_meetings_list h3 {
    margin-left: 10px
}

#project_meetings_wrap {
    width: 100%;
    margin-top: 10px;
    min-height: 700px;
    border: 0px #ccc solid
}

#project_meeting_viewer input {
    width: 600px;
    height: 20px;
    border: 1px #ddd solid;
    padding-left: 5px;
    font-weight: normal;
    font-size: 13px;
    color: #666;
}

#project_meeting_viewer textarea {
    width: 600px;
    height: 600px;
    border: 1px #ddd solid;
    padding: 5px
}

#project_meeting_log {
    padding: 5px;
    border: 1px #ddd solid;
    color: #666;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 12px;
    background: #fff
}

.meeting_log {
    padding: 5px;
    border: 1px #666 solid;
    min-height: 100px
}

.bold {
    font-weight: bold
}

#meeting_atendees {
    width: 900px;
    border: 1px #666 solid;
    min-height: 100px;
    padding: 5px
}

#project_meeting_planner {
    border-collapse: collapse;
}

#project_meeting_planner tr td {
    padding: 5px;
}

#project_meeting_planner input,
#project_meeting_planner select {
    height: 30px;
    padding: 5px;
    color: #666;
}

#meeting_atendees_list {
    padding: 0;
    margin-left: 5px;
    list-style: none
}

#meeting_atendees_list li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    border: 1px #999 solid;
    padding: 3px;
    min-width: 160px
}

#meeting_atendees_list li a {
    font-weight: normal;
    font-size: 1em
}


/* ********* PROJECT STREAM ************************* */

#project_attachemets_wrap {
    margin-top: 10px;
    width: 100%;
    min-height: 620px;
    border: 1px #ddd solid;
    padding: 5px
}

#project_tasks {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #666;
    font-family: 'Roboto', Helvetica, sans-serif;
    width: 100%;
    border: 1px #C7CCD9 solid;
    background: #fff;
    width: 100%;
}

#project_tasks tr td {
    text-align: left;
}

#project_tasks tr {
    border: 1px #C7CCD9 solid;
}

#project_tasks tr:hover {
    background: #ecf8ff;
}

#project_tasks tr td a {
    display: block;
    width: 100%;
    height: 30px;
    color: #2f2f2f;
    font-size: 14px
}

.task {
    width:100%;
    height:50px;
    display: flex;
    border-bottom: 1px #C7CCD9 solid;

}

#projects {
    position: relative;
    float: left;
    border-collapse: collapse;
    font-size: 12px;
    color: #666;
    font-family: 'Roboto', Helvetica, sans-serif;
    width: 99%
}

#projects tr td {
    text-align: left;
    padding: 10px
}

#projects_list {
    margin-top: 20px;
    float: left;
}

#projects_list table {
    border-collapse: collapse;
    font-size: 12px;
    color: #666;
    font-family: 'Roboto', Helvetica, sans-serif;
    width: 100%
}

#projects_list table tr td {
    text-align: left;
    padding: 10px;
    height: 10px;
}

#projects_list table tr {
    border: 1px #999 solid;
}

#projects_list table th {
    background: #efefef;
    height: 40px;
}

#projects_list table tr:hover {
    background: #ecf8ff;
}

.project-task {
    height: 40px;
    width: 100%;
    border: 1px #ddd solid;
}


/*.odd {background:#F3F3F3}*/

.odd {
    background: #ecf8ff
}

.even {
    background: #FFF;
}

hr {
    width: 99%;
    margin: 0px
}

#project_management_wrap {
    width: 100%;
    height:70vh;
}


#project-details {
    color: #333;
    font-family: 'Roboto', "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#project-details input {
    border: 1px solid #D5D5D5;
    color: #666;
    font-size: 14px;
    padding: 6px;
    border-radius: 2px;
    width: 100%;
    margin-top: 10px;
    height:40px;
}

#project-details select {
    border: 1px solid #D5D5D5;
    color: #666;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    width:100%;
    height:40px;
}

#project-details textarea {
    margin-top: 10px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 140px;
    font-size: 14px;
    font-family: 'Roboto', "Helvetica Neue", Arial, sans-serif;
}

.customer_wrap {
    height:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:100%;
}

.customer_wrap button {
    height:100%;
    width:50px;
    margin-top: 10px;
}

.project_action {
    display: flex;
    margin-top: 10px;
    height:50px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

}

#tasks {
    position: relative;
    float: left;
    margin-left: 0px;
    height: 500px;
    /* border:1px #ccc dashed;*/
    width: 98%;
    padding: 5px;
    min-height: 500px;
    height: auto !important;
}

#paging {
    position: relative;
    text-align: center;
}

#project_user_project_list,
#project_user_task_list,
#project_user_meetings,
#user_details_task_wrap,
#project_user_basic_info,
#project_user_uploaded_docs,
#project_user_planned_absence {
    width: 100%;
    border: 0px #ccc solid;
    min-height: 160px;
    margin-top: 35px;
}

#project_user_meetings h3,
#project_user_basic_info h3,
#project_user_project_list h3,
#project_user_task_list h3,
#project_user_uploaded_docs h3,
#project_user_planned_absence h3 {
    margin-left: 10px;
    margin-top: 5px
}

#project_user_meetings ul,
#project_user_basic_info ul,
#project_user_project_list ul,
#project_user_task_list ul,
#project_user_uploaded_docs ul,
#project_user_planned_absence ul {
    list-style: none;
    margin-left: 10px;
    padding: 0;
}

#project_user_project_list li,
#project_user_task_list li,
#project_user_meetings li {
    background: #F0F8FF;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
}

#project_user_project_list li:hover,
#project_user_task_list li:hover,
#project_user_meetings li:hover {
    background: #a4d4ff
}

#project_user_project_list li:first-child,
#project_user_task_list li:first-child,
#project_user_meetings li:first-child {
    border-top: 1px #ccc solid;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
}

#project_user_project_list li:last-child,
#project_user_task_list li:last-child,
#project_user_meetings li:last-child {
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
}

#project_user_task_list li a {
    color: #2793e6 !important;
    font-weight: bold;
}


/* project users assigned task*/

.user_details_task_wrap {
    height: 50px;
    width: 100%;
    border: 0px #ccc solid
}

.user_details_task_duration {
    float: left;
    margin-left: 0px;
    width: 120px;
    text-align: center;
}

.user_details_task_status,
.user_details_task_ass_date {
    float: left;
    font-weight: bold;
    width: 100px;
    color: #666;
}

.user_details_task_ass_date {
    width: 120px;
}

.user_details_task_status {
    float: left;
}

.user_details_project_wrap {
    height: 50px;
    line-height: 50px;
    width: 100%;
    border: 0px #ccc solid
}

.user_details_project_name,
.user_details_task_name,
.user_details_project {
    height: 50px;
    line-height: 50px;
    float: left;
    margin-left: 10px;
    width: 600px;
    font-weight: bold;
}

.user_details_project_name a {
    font-size: 14px
}

.user_details_task_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_details_meeting_title {
    float: left;
    width: 400px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_details_meeting_end_time,
.user_details_meeting_start_time {
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px
}

.user_details_project {
    width: 280px;
}

.user_details_project_duration {
    float: left;
    margin-left: 0px;
    width: 120px;
}

.user_details_project_ass_date {
    float: left;
    width: 120px;
    font-weight: bold;
    color: #666;
}

.user_details_project_status {
    float: left;
    width: 100px;
    font-weight: bold;
    color: #666;
}

.project_workload {
    width: 100%;
    min-height: 400px;
    float: left;
}

#workload {
    border-collapse: collapse;
    border: 1px #d1d2d3 solid;
    width: 100%;
    margin-top: 30px;
}

#workload tr td {
    padding: 10px;
    border: 1px #ccc solid
}

#workload th {
    padding: 2px !important;
}

.pagination {
    padding: 3px;
    margin: 3px;
}

.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #AAAADD;
    text-decoration: none;
    /* no underline */
    color: #000099;
}

.pagination a:hover,
.pagination a:active {
    border: 1px solid #000099;
    color: #000;
}

.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #000099;
    color: #FFF;
}

.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;
    color: #DDD;
}

#facebox p {
    border-top: 1px solid #ddd;
    font-family: 13px 'Roboto', "Helvetica Neue", Arial, sans-serif;
    color: #666;
    padding: 10px
}

#tasks_filter_sort {
    width: 100%;
    height: 30px;
    /* border: 1px #666 solid */
    ;
    border-radius: 5px;
    font-family: 'Roboto', "Helvetica Neue", sans-serif
}

#display_as {
    position: relative;
    float: right;
    margin-right: 5px;
}

#sort_by {
    position: relative;
    float: left;
    margin-left: 5px;
}

#add_group,
#add_contact {
    width: 100%;
    height: 50px;
    border: 0px #ccc solid;
    margin-top: 15px;
    text-align: right;
}

#add_group button,
#add_contact button {
    margin-right: 5px;
    margin-top: 5px
}

#add_group input {
    margin-right: 5px;
    margin-top: 5px;
    border: 1px #999 solid;
    height: 25px;
}

#add_conv_group {
    width: 600px;
    float: left;
}

#conversation_wrap {
    width: 100%;
    margin-top: 10px;
    border: 0px #999 solid;
    min-height: 300px;
}

#conv_group_list {
    width: 200px;
    float: left;
    min-height: 300px;
    border: 0px #999 solid;
}

.conv_group_name {
    float: left;
    margin-left: 10px;
    width: 100px;
}

.conv_grop_feed_count {
    float: left;
    width: 20px;
    margin-left: 20px;
    background: #666;
    color: #fff;
    text-align: center;
}

#conv_group_list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 300px;
    width: 210px;
}

#conv_group_list ul li {
    border: 1px #999 solid;
    width: 195px;
    padding: 0px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

#conv_group_list li:hover {
    background: #f5f8fa
}


/*#conv_group_list ul li {width:195px;padding:0px;margin: 0px;float: left; position: relative;}*/

#conv_group_list ul li a {
    font-size: 14px;
    display: block;
}


/*#conv_group_list ul li a {display: block;font-size: 14px; border-radius: 2px;border:1px #999 solid;text-align: center;padding-top: 10px;padding-bottom: 10px}*/

#conv_group_chat_wrap {
    width: 770px;
    float: left;
    min-height: 50px;
    border: 0px #999 solid;
    margin-left: 15px;
    background: #fff !important;
}

#add_comment {
    width: 99%;
    height: 300px;
    border: 0px #ddd solid;
    float: left;
    margin-left: 5px;
    margin-top: 15px;
    float: left;
    text-align: right
}

#add_comment textarea {
    height: 100px;
    border: 1px #666 solid;
    width: 755px;
    font-size: 13px;
    float: right;
    margin-right: 5px
}

#add_comment input {
    width: 90%;
    height: 22px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px #999 solid;
}

#add_comment button {
    width: 65px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
}

.chat {
    width: 99%;
    min-height: 5px;
    border: 1px #999 solid;
    float: left;
    margin-left: 5px;
}

.feed {
    width: 100%;
    min-height: 40px;
    border-bottom: 1px #999 solid;
    background: #fff;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);*/
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 0px;
    margin-top: 0px;
}

.feed:hover {
    background: #f5f8fa
}

.feed_picture {
    float: left;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #eee;
    margin-left: 15px;
}

.feed_user_name {
    float: left;
    margin-left: 10px;
    height: 40px;
    line-height: 40px
}

.feed_text {
    float: left;
    margin-left: 10px;
    min-height: 40px;
    width: 520px
}

.feed_time {
    float: left;
    min-height: 40px;
    margin-left: 10px;
    width: 100px;
    color: #8899a6;
}

.feed_del {
    float: right;
    margin-right: 5px;
    height: 10px;
    width: 10px;
}

#new_link {
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: right;
}

#link_maintable,
#the_link {
    border: 0px #666 solid;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px
}

#link_maintable tr td {
    padding: 5px !important
}

#the_link input {
    width: 850px;
    border: 1px #999 solid;
    padding: 5px;
    color: #666;
    font-weight: normal;
    height: 20px;
    font-size: 1.2em
}

#the_link textarea {
    border: 1px #999 solid;
    color: #666;
    font-weight: normal;
    font-size: 1.2em
}

#project_contacts {
    width: 100%;
    border-collapse: collapse;
}

#project_contacts tr {
    border: 1px #666 solid;
    height: 50px;
}

#project_contacts tr:hover {
    background: #efefef;
}

#project_contacts tr td {
    padding: 5px;
    color: #666;
}

#project_contacts td ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#project_contacts td ul li {
    display: inline-block;
}

.task_list_workload {
    display: inline-block;
    list-style: none;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.task_id {
   margin-left: 3px;
    margin-top: 3px;
    float: left;
    min-height: 50px;
    border: 1px #666 solid;
    padding: 3px;
    width: 192px;
    display: flex;
    background: white;
    position: relative;
    align-items: center;
    justify-content: center;
}

.task_id:hover {
    background: #FAFAFA
}

.task_id span {
    position: absolute;
    top: 5px;
    right: 5px;
}

.leftbutton {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 0px;
    border-right: 0px
}

.middlebutton {
    margin-left: 0px
}

.rightbutton {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 0px;
    border-left: 0px;
}

.white-badge {
    text-align: center;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, .5);
    color: #666 !important;
    padding: 6px;
    border-radius: 2px;
    background: #fff;
    border: 2px #666 solid;
}

.white-badge:hover {
    background: #fff;
    border: 1px #666 solid !important;
}

.blue-badge {
    text-align: center;
    /*text-shadow: 0px 1px 0 rgba(0, 0, 0, .5);*/
    color: #fff !important;
    padding: 6px;
    border-radius: 2px;
    background: #3f8abf;
    border: 0px #C22516 solid;
}

.blue-badge-large {
    width: 100px;
    height: 35px;
    text-align: center;
    color: #fff !important;
    padding: 6px 12px 6px 12px;
    border-radius: 3px;
    background: #3f8abf;
    border: 0px #C22516 solid;
}

.grey-badge {
    text-align: center;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, .5);
    color: #fff;
    padding: 6px;
    border-radius: 2px;
    background: #666;
    color: #fff;
    width: 30px;
}

.msg_box {
    margin: auto;
    width: 400px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #FFFFCC;
    border: 1px #666 solid;
    color: #666;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.search {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.search input {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #656565;
}

.search input::placeholder {
    color: #999
}

#main #projects_grid .project {
    padding: 20px 20px 20px 60px;
    background-color: #fff;
    box-shadow: 1px 1px 40px rgba( 0 0 0 / .01);
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

#main #projects_grid .project h2 {
    color: #555;
    font-size: 20px;
    line-height: 0;
}

#main #projects_grid .project span,
#main #projects_grid .project {
    color: #727272;
}

.project p {
    width: 100%
}

.project span {
    width: 200px;
}

.members_list {
    float: left;
    width: 100%;
}

.members_list img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: 4px solid aliceblue;
}

.members_list img .stack {
    margin-left: -20px;
}

.project .project_priority {
    width: 30px;
    height: 50px;
    background-color: rebeccapurple;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: 0;
}

@media only screen and (max-width:768px) {
    #main #projects_grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #main #projects_grid .project {
        width: 100%;
    }
    #main #projects_grid .project h2 {
        display: flex;
        flex-wrap: wrap;
    }
    .menu {
        height: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    #projects_grid {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1111px) {
    #main #projects_grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #main #projects_grid .project {
        width: 25%;
    }
}